<% provide(:title,'Home') %>

<h1>Welcome to <span style="color:red;">🕔PasS</span></h1>
<p>
  This is an first rails app by me. It is just a post and command social application.
</p>

<p>Your wecome to play with this application.</p>

<%= link_to 'Sign Up Here!', new_user_registration_path,
  class: 'btn btn-primary btn-lg btn-block' %>