<% provide(:title,@user.name) %>
<div class="container">

  <div class="row">
      <div class="box box-header header-title col-xs-12">
        <header>
          <h2>About</h2>
            <!--%= link_to "Edit Profile", edit_user_registration_path(current_user),
                class: "btn btn-small btn-primary right btncolor" %-->
        </header>
      </div>
    </div>

    <div class="row">      
      <section class="box box-body padding-top padding-bottom col-xs-12">
      
        <div class="col-md-5">        
          
          <h3>User Information</h3>
          
          <dl>
            <dt>Email:</dt>
            <dd><%= @user.email %></dd>
            <dt>Name:</dt>
            <dd><%= @user.name %></dd>
            <dt>Member since:</dt>
            <dd><%= @user.member_since %></dd>
            <dt>Last Activity:</dt>
            <dd><%= @user.last_activity %></dd>
            
          </dl>
        
        </div>


      </section>
      
</div>
</div>

