@import "bootstrap";


//Flash msg
div.alert-alert {
  background-color: #FAA;
}

div.alert-notice {
  background-color: #ACF;
}

div.right-hand {
  float: right;
}

//Feed
div.post-preview {
  padding: 10px 5px;
}

nav {
  width: 100%;
}
//Comments
.comment-form {
  margin: 0 0 20px 0;
}
.comment {
  margin: 0 0 10px 0;

}

.formouter {
    border: 1px solid #ccc;
    padding: 30px 45px;
    border-radius: 5px;
}



.wrapper {
    text-align: center;
}





dt {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0;
  margin: 0;
}
dd {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
  padding: 0 ;
  margin: 0 ;
}




.header-title {
  text-align: center;
  vertical-align: middle;
  color: white;
}

.box {
  background-color: white;
  -webkit-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.1);
}

.box-header {
  margin-top: 15px;
  position: relative;
  background-color: #6C7A89;
  padding: 4px 0;

  small {
    margin-left: 5px;
    color: white;
  }
}


.box {
    background-color: white;
    box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.1);
}
.header-title {
    text-align: center;
    vertical-align: middle;
    color: white;
}
.col-xs-12 {
    width: 100%;
}
.box-header {
    margin-top: 15px;
    position: relative;
    background-color:#6C7A89;
    padding: 4px 0;
}
.right {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.btncolor
{
  background-color: #222F3D;
  border:0;
}


.padding-left {
  padding-left: 10px;
}

.padding-top {
  padding-top: 15px;
}

.padding-bottom {
  padding-bottom: 15px;
}