@import "bootstrap";

//Flash msg
div.alert-alert {
  background-color: #FAA;
}

div.alert-notice {
  background-color: #ACF;
}

div.right-hand {
  float: right;
}

//Feed
div.post-preview {
  padding: 10px 5px;
}

nav {
  width: 100%;
}
//Comments
.comment-form {
  margin: 0 0 20px 0;
}
.comment {
  margin: 0 0 10px 0;

}