@import "bootstrap";

//Flash msg
div.alert-alert {
  background-color: #FAA;
}

div.alert-notice {
  background-color: #ACF;
}

div.right-hand {
  float: right;
}

//Feed
div.post-preview {
  padding: 10px 5px;
}